{
    margin: 0%
    padding: 0%
    list-style: none;
    text-decoration: none;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

button {
    display: block;
    background-color: #e7e7e7; color:black
    background-radius: 15px;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 24px;
    a:hover
    box-shadow: 10px;
}

.button {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.timer-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    position: adsolute;
    height: 100px;
    width: 100px;
}

#timer {
    display: block;
    font-size: 25px;
    float: right;

}

.hide {
    display: none;
}